/* Body styles */

/* For screens up to 600px wide */
@media (max-width: 600px) {
  body {
    width: 100%;
    height: auto;
  }
}

/* For screens between 601px and 1200px wide */
@media (min-width: 601px) and (max-width: 1200px) {
  body {
    width: 100%;
    height: auto;
    max-width: 1200px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
  body {
    width: 100%;
    height: auto;
    max-width: 2400px;
  }
}

.first_page {
  background-image: url("portfolio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  height: 100vh;
}
.general_Info {
  background: white;
  background-color: black;
  width: 50ex;
  height: 100vh;
  padding: 2ex;
  margin-bottom: 40ex;
  border: none;
  text-align: left;
  color: white;
  box-sizing: border-box;  position: relative;
  /* Existing styles */
  position: fixed;
  top: 50px; /* Adjust the top value as per your preference */
  transition: opacity 0.3s ease-in-out;
}

.hide {
  opacity: 0;
}
.floating_Clock {
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0.7), transparent);
  font-size: 2.4ex;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-right: 0.2ex solid #000000;
  border-left: 0.2ex solid #000000;
  padding: 1ex;
  border-image: linear-gradient(to bottom, #000000, #FFFFFF) 1;
}

.weather {
  position: relative;
  background-image: url("beautiful_night.jpg");
  background-size: auto;
  width: 100%;
  height: 50vh;
  padding-left: 35%;
  padding-top: 10%;
}

.inputs {
  position: relative;
  width: 400px;
  height: 105px;
  text-align: center;
  justify-content: center;
  transition: 1s ease-out;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: transparent;
}
#cityInput::placeholder {
  size: 30px;
  background: transparent;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.inputs input[type="text"] {
  background: transparent;
  margin-top: 50px;
  size: 100px;
  border: none;
  align-items: center;
  color: white;
  font-weight: bold;
}
.city_search{
margin-left: 100px;
}
.weather-inputs input[type="submit"] {
  height: 3rem;
  width: 6rem;
  background-color: red;
}

.contact {
  margin-top: 5ex;
}
.white-icon {
  color: white;
}

.weather_display
{
color: white ;
}
.fa-wind,
.fa-thermometer-three-quarters {
  display: none;
}

.visible {
  display: inline;
}
